

<div class="main-content mt-5">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/download.jpeg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-category text-gray">ICTAK CURRICULUM TRACKER</h4>
                        <h5 class="card-title">SIGNUP</h5>
                       


                        <form #signform="ngForm" (ngSubmit)="signupdisplay()">
                            <div class="mb-4 mt-4">
                                <!-- <label for="facultyname" class="form-label">Facultyname:</label> -->
                                <input type="text" class="form-control" [(ngModel)]="signupform.facultyname"
                                    #facultyname="ngModel" id="facultyname" placeholder="Enter FacultyName" name="facultyname"
                                    [class.is-invalid]="facultyname.invalid && facultyname.touched"
                                    pattern="^[a-zA-Z]+$" required>
                                <small class="text-danger" [class.d-none]="facultyname.valid || facultyname.untouched">
                                    Facultyname is required</small>
                            </div>
                            <div class="mb-4 mt-4">
                                <!-- <label for="username" class="form-label">Username:</label> -->
                                <input type="email" class="form-control" [(ngModel)]="signupform.username"
                                    #username="ngModel" id="username" placeholder="Enter Email" name="username"
                                    [class.is-invalid]="username.invalid && username.touched" 
                                    pattern="^[a-zA-Z0-9]+@[a-zA-Z]+\.[a-zA-Z]{2,}$" required>
                                <small class="text-danger" [class.d-none]="username.valid || username.untouched">
                                    Username is required</small>
                            </div>
                            <div class="mb-4 mt-4">
                                <!-- <label for="password" class="form-label">Password:</label> -->
                                <input type="password" class="form-control" id="password"
                                    placeholder="Enter Password" [(ngModel)]="signupform.password"
                                    #password="ngModel" name="password"
                                    [class.is-invalid]="password.invalid && password.touched"
                                    pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[a-zA-Z]).{8,}$"
                                     required>
                                <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password
                                    is required</small>
                            </div>
                            
                            <button type="submit" class="btn btn-primary btn-round"
                                [disabled]="signform.form.invalid">Submit</button>
                               <p>Are you have already a FacultyAccount/Are you an Admin? <a class="btn btn-danger btn-round" routerLink="/login">Login</a></p>
                        </form>                        



                        <!-- <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>

        </div>
    </div>
</div>
