<div class="main-content">
    <div class="container-fluid">
        <div class="row">


            <div class="" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">
      
                    <!-- Modal body -->
                    <div class="modal-body">
                      <form #add="ngForm" (submit)="submitForm()" enctype="multipart/form-data">
                        <div class="mb-3 mt-3">
                          <label for="name" class="form-label">Comment</label>
                          <textarea class="form-control" id="comments" [(ngModel)]="requirement.comments"
                            placeholder="Add comments here" name="comments"></textarea>
                        </div>
                        <div class="mb-3">
                          <label for="area" class="form-label">Upload Curriculum</label>
                          <input type="file" class="form-control" id="curriculum" name="curriculum" (change)="onFileChange($event)" />
                          <iframe src="/backend/requirement.curriculum" class="form-control" id="curriculum" name="curriculum" ></iframe>
                        
                        </div>
                       
                        <button  type="button" class="btn btn-primary" (click)="submitForm()">Submit</button> &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-danger" >Cancel</button>
                      </form>
                    </div>
      
                    <!-- Modal footer -->
      
                  </div>
                </div>
              </div>

            </div>
     </div>
</div>

