<div class="main-content">
    <div class="container-fluid">
        <div class="row">


            <div class="" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">
      
                    <!-- Modal body -->
                    <div class="modal-body">
                      <form #add="ngForm" (ngSubmit)="addResponse()" enctype="multipart/form-data">
                        <div class="mb-3 mt-3">
                          <label for="name" class="form-label">Comment</label>
                          <textarea class="form-control" id="comments" [(ngModel)]="requirementData.comments"
                            placeholder="Add comments here" name="comments"></textarea>
                        </div>
                        <div class="mb-3">
                          <label for="area" class="form-label">Upload Curriculum</label>
                          <input type="text" class="form-control" id="curriculum" name="curriculum" [(ngModel)]="requirementData.curriculum" placeholder="Add the url"/>                        
                        </div>
                       
                        <button  type="submit" class="btn btn-primary">Submit</button> &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-danger" >Cancel</button>
                      </form>
                    </div>
      
                    <!-- Modal footer -->
      
                  </div>
                </div>
              </div>

            </div>
     </div>
</div>

