<div class="main-content">
    <div class="container-fluid">
        <div class="row">



            <div class="col-md-12">
                <div class="places-buttons">

                    <div class="row">
                        <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block" data-bs-toggle="modal"
                                        data-bs-target="#myModal">Add requirements</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">
                                Requirements Form
                            </h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <form #reqForm="ngForm" (ngSubmit)="addrequirement()">
                                <div class="mb-3 mt-3">
                                    <label for="name" class="form-label">Name:</label>
                                    <input type="text" class="form-control" [(ngModel)]="requirementform.name"
                                        #name="ngModel" id="name" placeholder="Enter Name of Requirement" name="name"
                                        [class.is-invalid]="name.invalid && name.touched" required>
                                    <small class="text-danger" [class.d-none]="name.valid || name.touched">Requirement
                                        name is required</small>
                                </div>
                                <div class="mb-3">
                                    <label for="area" class="form-label">Area Where training is required</label>
                                    <select class="form-select" id="area"
                                        placeholder="Enter Area where training is required"
                                        [(ngModel)]="requirementform.area" #area="ngModel" name="area"
                                        [class.is-invalid]="area.invalid && area.touched" required>
                                        <option value="">Choose an Option</option>
                                        <option>FSD</option>
                                        <option>ML-AI</option>
                                        <option>DSA</option>
                                        <option>RPA</option>
                                        <option>ST</option>
                                        <option>CSA</option>
                                    </select>
                                    <small class="text-danger" [class.d-none]="area.valid || area.touched">Area of
                                        training is required</small>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label for="institute" class="form-label">Institute/Corprate</label>
                                    <input type="text" class="form-control" id="institute"
                                        placeholder="Enter Institute/Corprate" [(ngModel)]="requirementform.institute"
                                        #institute="ngModel" name="institute"
                                        [class.is-invalid]="institute.invalid && institute.touched" required>
                                    <small class="text-danger"
                                        [class.d-none]="institute.valid || institute.touched">This field is
                                        required</small>
                                </div>

                                <div class="mb-3">
                                    <label for="requirement" class="form-label">Category of requirement</label>
                                    <select class="form-select" id="requirements" placeholder="category of requirement"
                                        [(ngModel)]="requirementform.requirements" #requirements="ngModel"
                                        name="requirements"
                                        [class.is-invalid]="requirements.invalid && requirements.touched" required>
                                        <option value="">Choose an Option</option>
                                        <option>Retail</option>
                                        <option>Academic</option>
                                        <option>Corporate</option>
                                        <option>Govt</option>
                                    </select>
                                    <small class="text-danger"
                                        [class.d-none]="requirements.valid || requirements.touched">Category is
                                        required</small>
                                </div>

                                <div class="mb-3 mt-3">
                                    <label for="hours" class="form-label">No: of hours</label>
                                    <input type="text" class="form-control" id="hours"
                                        placeholder="No: of hours of training" [(ngModel)]="requirementform.hours"
                                        #hours="ngModel" name="hours"
                                        [class.is-invalid]="hours.invalid && hours.touched" required>
                                    <small class="text-danger" [class.d-none]="hours.valid || hours.touched">Total hours
                                        is required</small>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label for="hours" class="form-label">File</label>
                                    <input type="text" class="form-control" id="hours"
                                        placeholder="Add some files" [(ngModel)]="requirementform.file"
                                        #hours="ngModel" name="file">
                                </div>
                                <button type="submit" class="btn btn-primary"
                                    [disabled]="reqForm.form.invalid">Submit</button>
                            </form>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">

                        <div class="row">
                            <div class="col-4">
                                <h4 class="card-title mt-0">ICTAK CURRICULUM TRACKER</h4>
                                <p class="card-category">Requirements</p>
                            </div>
                            <div class="col-4"></div>
                            <div class="col-1"></div>
                            <div class="col-3">

                                <div class="input-group no-border">
                                    <!-- <input type="text" value="" class="form-control" 
                                    [(ngModel)]="filterTerm" (input)="applyFilter()"
                                    placeholder="Search..."> -->
                                    <input type="text"  class="form-control" 
                                    [(ngModel)]="filterTerm" (input)="applyFilter()"
                                     placeholder="Enter your filter term" style="color:white;" />
        
                                    <button mat-raised-button type="submit" class="btn btn-white  btn-just-icon">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </div>
                        </div>
                       
                   
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                  
                                    <th>
                                        Training Area
                                    </th>
                                    <th>Institute/Corprate</th>
                                    <th>Category</th>
                                    <th>Hours</th>
                                    <th>Approved / Pending</th>

                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of filtereddata; let i = index">
                                        <td>
                                            {{ i + 1 }}
                                        </td>
                                        <td>
                                            {{ item.name }}
                                        </td>
                                        <td>
                                            {{ item.area }}
                                        </td>
                                        <td>{{item.institute}}</td>
                                        <td>{{item.requirements}}</td>
                                        <td>{{item.hours}}</td>
                                        <td class="status">


                                            <span class="active" *ngIf="item.approved == 1">Approved</span>
                                            <span class="waiting" *ngIf="(item.approved == 0) && (item.curriculum != '')"
                                                (click)="updateToApproved(item._id)">Pending</span>
                                            <span class="waiting" *ngIf="(item.approved == 0) && (item.curriculum == '')">Waiting</span>

                                        </td>
                                        <td>
                                            <button mat-raised-button type="button" matTooltip="View Requirement form"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">

                                                <i class="material-icons" (click)="viewDetails(item._id)"
                                                    data-bs-toggle="modal" data-bs-target="#viewmodal">visibility</i>
                                                <!-- <i class="bi-eye-fill" (click)="viewDetails(item._id)" 
                                    data-bs-toggle="modal" data-bs-target="#viewmodal"></i> -->

                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Edit Requirement form"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons"
                                                    [routerLink]="['/edit-requirement',item._id]">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons"
                                                    (click)="deleteRequirement(item._id)">close</i>
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



            <div class="modal" id="viewmodal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">
                                Requirement Details
                            </h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">

                            <div class="row">
                                <div class="col-4">
                                    <p class="mb-3"><strong> Name:</strong>{{names}}</p>
                                    <p class="mb-3"><strong>Training Area:</strong>{{areas}}</p>
                                    <p class="mb-3"><strong>CurriculumUrl:</strong>{{cur}}</p>

                                </div>
                                <div class="col-4">

                                    <p class="mb-3"><strong>Institute:</strong>{{institutes}}</p>

                                    <p class="mb-3"><strong>Requirements:</strong>{{req}}</p>


                                </div>
                                <div class="col-4">
                                    <p class="mb-3"><strong>Hours:</strong>{{hou}}</p>
                                    <p class="mb-3"><strong>Comments:</strong>{{com}}</p>


                                </div>
                            </div>


                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>





<!-- <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Used Space</p>
                        <h3 class="card-title">49/50
                            <small>GB</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="javascript:void(0)">Get More Space...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Revenue</p>
                        <h3 class="card-title">$34,245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Fixed Issues</p>
                        <h3 class="card-title">75</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> Tracked from Github
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <p class="card-category">Followers</p>
                        <h3 class="card-title">+245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Daily Sales</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today
                            sales.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Email Subscriptions</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Completed Tasks</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Tasks:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                            <i class="material-icons">bug_report</i> Bugs
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                            <i class="material-icons">code</i> Website
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                            <i class="material-icons">cloud</i> Server
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit requirement form"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when
                                                a ravaging rain swept through metro Detroit
                                            </td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="messages">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when
                                                a ravaging rain swept through metro Detroit
                                            </td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="settings">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when
                                                a ravaging rain swept through metro Detroit
                                            </td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Employees Stats</h4>
                        <p class="card-category">New employees on 15th September, 2016</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Salary</th>
                                <th>Country</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Dakota Rice</td>
                                    <td>$36,738</td>
                                    <td>Niger</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Minerva Hooper</td>
                                    <td>$23,789</td>
                                    <td>Curaçao</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sage Rodriguez</td>
                                    <td>$56,142</td>
                                    <td>Netherlands</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Philip Chaney</td>
                                    <td>$38,735</td>
                                    <td>Korea, South</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
